<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Item Showcase</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>IT 122 Home Page</h1>
  <h2>Item Showcase</h1>
  <h2>Welcome students!</h2>
  <ul>
    <% if (items && items.length > 0) { %>
      <% items.forEach((item) => { %>
        <li>
          <a href="/item/<%= item.id %>"><%= item.name %></a>
        </li>
      <% }); %>
    <% } else { %>
      <li>No items found.</li>
    <% } %>
  </ul>
</body>
</html>
